<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title><%= title %></title>
</head>
<body>
    <main>
        <h1 class="<%= status.type %>"><%= header %></h1>
        <p class="<%= status.type %>"><%= status.message %></p>
        <a href="/"><button>To main menu</button></a>
    </main>
</body>
<footer>
    <p>Abel Parada. &copy; 2021. Visit my <strong><a href="https://github.com/abel-parada">Github Account</a></strong></p>
</footer>
</html>